<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Server Configuration -->
  <system.serviceModel>
    <services>
      <service name="GoDaddyChatService.ChatService">
        <endpoint address="http://localhost:8732/GoDaddy" contract="GoDaddyChatService.IChatInterface" binding="wsHttpBinding" />
      </service>
    </services>
  </system.serviceModel>
</configuration>