<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Server Configuration -->
  <system.serviceModel>
    
    
    <bindings>
    <netTcpBinding>
      <binding name="tcpBind">
        <security mode="None">
          
        </security>
      </binding>
    </netTcpBinding>   

    </bindings>
    
  
    <!-- Behaviors -->

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    

    <!-- Services -->
    
    <services>
      <service name="GoDaddyChatService.ChatService" behaviorConfiguration="serviceBehavior">
        
        <endpoint address="GoDaddy" contract="GoDaddyChatService.InterfaceServerChatService" binding="netTcpBinding" bindingConfiguration="tcpBind"/>
         
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/GoDaddy"/>
            <add baseAddress="Http://localhost:8080/GoDaddy"/>
          
          </baseAddresses>
        </host>
        
      </service>
    </services>
  </system.serviceModel>
</configuration>